/* 
  Estilos Globales

  Aquí definimos estilos y variables que se reutilizan en todo el sitio
*/
:root {
  --primary-color: #A8BE43;
  --secondary-color: #C03CE6;
  --dark-color: #13132F;
  --light-color: #F0F0F0;

  --font-primary: "Martel Sans", sans-serif;
  --font-secondary: "Lilita One", cursive;
 
  --dark-color-transparent: #13132f6d;
  --dark-color-transparent-strong: #13132f8a;

  --space-small: 16px;
  --space-normal: 24px;
  --space-medium: 32px;
  --space-large: 48px;
  --space-xl: 56px;
  --space-2xl: 64px;
  
  /* height dir scroll often */
  --offset-height: 150px;
}

body {
  font-family: var(--font-primary);
  background-color: var(--light-color);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--dark-color);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

section {
  scroll-margin-top: var(--offset-height);
  margin-bottom: var(--space-2xl);
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 0.8rem;
}

.Button-primary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  background-color: var(--primary-color);
  color: var(--light-color);
  border-radius: 32px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.Button-primary:hover {
  color: var(--dark-color);
  background-color: var(--secondary-color);
}

.Button-secondary {
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-small) var(--space-normal);
  background-color: var(--secondary-color);
  color: var(--light-color);
  border-radius: 32px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-size: 1.125rem;
  transition: background-color 0.3s ease;
}

.Button-secondary:hover {
  color: var(--dark-color);
  background-color: var(--primary-color);
}

/* wrapper */
.wrapper {
  max-width: 1800px;
  margin: 0 auto;
}
