/* 
Estilos personalizados

Aquí vamos a estilizar las secciones, sus contenidos y el responsivo
*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #0a2779;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-normal);
}

.navbar-menu {
  display: flex;
  gap: var(--space-medium);
}

.navbar-menu a {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  color: var(--light-color);
}

.navbar-menu a:hover {
  color: var(--secondary-color);
}

/* hero */

.hero {
  height: 100vh;
  min-height: 700px;
  background-image: url("../Assets/Image/back-hero-bacground.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--light-color);
}

.hero-content {
  width: 50%;
}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: var(--space-medium);
  max-width: 80%;
}

.hero-actions {
  display: flex;
  gap: var(--space-small);
  margin-bottom: var(--space-medium);
}

.hero-icons {
  display: flex;
  gap: var(--space-small);
}

/* characters */

.characters {
  background-color: var(--light-color);
}

.characters-header {
  margin-bottom: 1rem;
}

.characters-content {
  display: flex;
  align-items: center;
}

.characters-thumbnails {
  width: 50%;
}

.thumbnail-item {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.6);
  transition: filter 0.3s ease;
}

.thumbnail-item:hover {
  filter: brightness(1);
}

.characters-showcase {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

.thumbnails-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-medium);
}

.character-info {
  margin-bottom: 1rem;
}

/* media */

.media-header {
  text-align: center;
  margin-bottom: var(--space-medium);
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  justify-content: center;
  gap: var(--space-medium);
  margin-bottom: var(--space-medium);
}

.carousel-item {
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
  filter: brightness(0.6);
  transition: filter 0.3s ease;
}

.carousel-item:hover img {
  filter: brightness(1);
}

.carousel-item span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--dark-color);
}

.carousel-item:hover span {
  color: var(--primary-color);
}

.carousel-controls {
  display: flex;
  justify-content: center;
}

.carousel-controls button {
  color: var(--dark-color);
}

.carousel-controls button:hover {
  color: var(--secondary-color);
}

.carousel-controls span {
  font-size: 3rem;
}

/* About */

.about {
  background: linear-gradient(90deg, rgba(114, 30, 217, 0.75) 0%, rgba(142, 83, 237, 0.28) 100%), url("../Assets/Image/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-color);
}
