/* 

Estilos personalizados

Aqui vamos a estilizar las secciones, sus contenidos y el responsivo
*/

.header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: #0a2779 ;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small);
}

.navbar-menu{
  display: flex;
  gap: var(--space-medium);

}
.navbar-menu a {
  font-family: var(--fofont-secondaryn);
  text-transform: uppercase;

}

.navbar-menu a hover{
  color: var(--Secundary-color);
  
}

/* hero */

.hero{
  height: 100vh;
  min-height: 700px;
  background-image: url("../assets/image/back-hero-bacground.jpg");
  background-size: cover;
  background-position: center;
  
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  color: var(--light-color);

}

.hero-content{
  width: 50%;

}

.hero-content p {
  font-size: 1.125rem;
  margin-bottom: var(--space-medium);
  max-width: 80%;

}

.hero-action {
  display: flex;
  gap: var(--space-small);
  margin-bottom: var(--space-medium);
}

.hero-icons{
  display: flex;
  gap: var(--space-small);
}